.training-container {
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 500px;
}

.training-title {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.instructions-box {
    background-color: #f7657e;
    padding: 10px;
    border-radius: 7px;
    margin-bottom: 20px;
}

.instructions {
    color: white;
    font-weight: bold;
    text-align: left;
}

.instructions ol {
    margin-left: 20px;
}

.instructions p {
    margin-left: 20px;
    font-weight: normal;
}

.train-form {
    margin-bottom: 20px;
}

.train-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.train-btn:hover {
    background-color: #0056b3;
}

.output-box {
    border: 2px solid gray;
    padding: 10px;
    border-radius: 7px;
}

.msg-inner {
    color: gray;
    text-align: center;
}